/* static/style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img.logo-left {
    height: 80px;
    margin-left: 20px;
}

.header img.logo-right {
    height: 80px;
    margin-right: 20px;
}
.header h1 {
    font-size: 24px;
}

.header p {
    font-size: 16px;
}

.card-header {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.list-unstyled li {
    margin-bottom: 10px;
}

.footer {
    margin-top: 20px;
}
